.block-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.3;
  color: $white;
  margin-left: 35px;
}

.block-title--company {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 260px;
    background: url("../images/logo-red.svg") no-repeat center;
    background-size: 100%;
    width: 230px;
    height: 53px;


    @media screen and (max-width: $tablet-screen){
      width: 100px;
      left: 200px;
      height: 50px;
      background-size: 100%;
    }
  }
}

.text {
  line-height: 1.6;
  font-size: 1.125rem;
  max-width: 485px;
  color: $white;
  margin-top: 50px;
}

.text--extra-margin {
  font-size: 1rem;
  color: $light-grey;
  margin-left: 35px;
  max-width: 485px;
  line-height: 1.8;
  font-weight: 300;
  margin-top: 3.125rem;
}

.text--accent {
  font-weight: bold;
  color: $sky-blue;
  font-size: 1.375rem;
  margin-top: 3.125rem;
  max-width: 485px;
  line-height: 1.4;
}
