.catalog {
  position: relative;
  padding: 140px 0 280px;
  top: -1px;

  @media screen and (max-width: $tablet-screen) {
    padding: 140px 0 350px;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: $dark-blue;
    transform: skewY(-4deg);
    width: 120%;
    height: 100%;
  }

  .text--accent {
     @media screen and (max-width: $tablet-screen) {
       margin-top: 80px;
     }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    background-color: $dark-blue;
    width: 100%;
    height: 50px;
  }
}

.catalog-product {
  position: relative;
}

.catalog-product__img {
  width: 270px;
  height: 200px;
  margin-top: 30px;
  object-fit: cover;

  @media screen and (max-width: $tablet-screen) {
    margin-top: 40px;
  }
}

.catalog-product__info {
  position: absolute;
  background: $white;
  padding: 34px 10px 0 20px;
  top: 110%;
  left: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 170px;

  @media screen and (max-width: $tablet-screen){
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.catalog-product__info-heading {
  font-size: 14px;
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

.catalog-product__info-content {
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 10px;
}

.catalog-product__info-link {
  background-color: $red;
  color: $white;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 13px 20px;
  z-index: 1;

  &:hover {
    &::before {
      transform: scaleX(1.4) translateY(-50%);
    }
  }

  &::before {
    content: '';
    position: absolute;
    background: url("../images/arrow-right.svg") no-repeat center;
    top: 50%;
    right: 15px;
    filter: brightness(100%);
    width: 24px;
    height: 4px;
    transform: translateY(-50%);
    transition: transform 0.15s;
    transform-origin: left;
  }
}

