.contacts {
  position: relative;
  //top: -50px;
}

.address {
  position: absolute;
  background: $white;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  padding: 20px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.adress__item {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 1.7;

  &:first-child {
    margin-top: 0;
  }
}

.adress__item--mail {
  font-weight: bold;
}
