.slider {
  max-height: 300px;
  max-width: 600px;
  margin-top: 40px;
  position: relative;
  object-fit: cover;

  &::before {
    content: '';
    position: absolute;
    background: url("../images/about-1.png") no-repeat;
    opacity: 0.4;
    background-size: cover;
    height: 170%;
    width: 700px;
    top: 65%;
    z-index: -1;
    right: 0;
    transform: translate(50%, -50%);
  }
}

.slider__item {
  display: block;
  height: 300px;
}

.slider--about {
  &::before {
    content: '';
    left: 0;
    transform: translate(-50%, -50%);
  }
}
